@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar{
  padding: 60px;
  display: flex;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
  border-bottom: 1px #f13356;
  padding-top: 0px;
}

.navbar h1{
  color: #f13356;
}

.navbar .links{
  margin-left: auto;
}

.navbar a{
  margin-left: auto;
  text-decoration: none;
  padding: 50px;
}

.navbar a:hover{
  color: #f13356;
}

.content {
  margin: 100px auto;
  padding: 500px;
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 70px;
  background-color: #f13356;
}

.header h1{
  font-weight: 900;
  display: flex;
  text-align: center;
}